.Navbar{
    background: #29578b;
    width: 100vw;
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
}
.logo{
    position: absolute;
    left: 45px;
    display: flex;
    align-items: center;
    width: 10vw;
    justify-content: space-evenly;
    cursor: pointer;
}
.logo-head > p {
    font-size: 24px;
    margin-left: 10px;
    color: #192839;
    font-weight: 600;
}

.Nav-menu{
    position: absolute;
    right: 36px;
    display: flex;
    width: 8%;
    justify-content: space-around;
}
.logo-image > .image{
    height: 50px;
}